*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    min-height: 969px;
    background: rgb(0, 0, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(0, 74, 143, 0.13);
    color: white;
    /* position: fixed;
    top: 0;
    left: 0;
    transition: top 0.3s;
    z-index: 999; */
}

#upper-part-header{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

nav{
    text-transform: uppercase;
}

nav ul{
    list-style: none;
}

nav ul li{
    padding: 10px;
}

nav ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgba(192, 224, 255, 0.6);
    cursor: pointer;
}

#social-medias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social-medias img{
    width: 30px;
    height: 30px;
    padding: 3px;
}

.social a{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    width: 200px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.social p{
    font-size: 13px;
    margin-left: 5px;
}

header p{
    font-size: 9px;
}

main{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    margin: 100px;
    padding: 50px;
}

h1{
    padding: 10px;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    height: 100%;
}

#hidden-cards {
    display: none;
    flex-wrap: wrap; /* Permet aux éléments de se placer sur plusieurs lignes si nécessaire */
    justify-content: center;
    width: 1000px;
    padding: 50px;
  }
  
  .hidden-article-card {
    display: inline-flex; /* Affiche les éléments en ligne */
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    border-bottom: solid rgba(0, 0, 0, 0.3) 1px;
    cursor: pointer;
    width: 250px;
    height: fit-content;
  }
  
  .hidden-article-card img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }

.article-card{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 250px;
    padding: 10px;
    margin: 10px 25px 110px 25px;
    border-bottom: solid rgba(0,0,0,0.3) 1px;
    cursor: pointer;
}

.title-project{
    margin: 10px;
    width: 35%;
}

.title-project h3{
    font-style: italic;
    font-size: 15px
}

.title-project h2{
    margin: 5px 0px;
}

#see-more{
    display: flex;
    align-self: center;
    cursor: pointer;
}

#see-more p{
    font-size: 20px;
    margin-right: 15px;
}

#see-more p:hover{
    border-bottom: solid rgba(0,0,0,0.7) 1px;
}


.article-card img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

#see-more img{
    width: 30px;
    height: 30px;
}